* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../img/background.png) no-repeat center;
    font-size: 100%;
}

body {
    font-family: 'Istok Web', sans-serif;
}

header {
    background-color: #ffff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}


/*---------- Menu BTN animation ----------*/

.nav_icon {
    display: inline-block;
    cursor: pointer;
    margin: auto 0px;
    position: absolute;
    top: 1.2rem;
    right: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: #707070;
    margin: 4px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 4px);
}

/* Fade out the second bar */
.open .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.open .bar3 {
    transform: rotate(45deg) translate(-6px, -4px);
}

/*----------  ----------*/

/*---------- Navigation Styling ----------*/

.page_navigation {
    width: 100%;
    background-color: #BCFDE1;
    position: absolute;
}

ul {
    list-style-type: none;
}

.navigation_list {
    display: none;
}

.sub_nav {
    display: none;
}

.nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.nav_item a {
    align-items: center;
    font-size: 1.3em;
    margin: auto 10px;
}

.sub_nav_item {
    padding: 5px 15px;
}

a {
    color: #707070;
    text-decoration: none;
}


.fa {
    color: #707070;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    width: 35px;
    border: 2px solid #ffff;
    border-radius: 10%;
    margin-right: 10px;
}

/* ------- Mit er gældende fra 500px og til 290px ---------- */


/* Hero img + text */
/*
main {
    height: 430px;
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/workplace_small.jpg) no-repeat;
    position: relative;
    height: 275px;
}
*/

.page_title {
    text-align: center;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Workplace.jpg) center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.hero h1 {
    line-height: 1em;
    margin: 0 0 10px 0;
    color: #ffff;
    text-align: center;
}

.hero p {
    margin-bottom: 10px;
}

main p {
    text-align: center;
    margin-bottom: 5px;
    color: #ffff;
}

a.btn {
    text-decoration: none;
    color: #ffff;
    border: 1px solid #ffff;
    padding: 3px 3px;
    transition: background-color .5s;
}


/* SECTION: Events */

.events {
    text-align: center;
    background: #A7FFD9;
    padding: 20px;
    color: #707070;
    margin-top: 20px;
}

a.btn_2 {
    text-decoration: none;
    text-align: center;
    color: #707070;
    border: 1px solid #707070;
    padding: 3px 3px;
    background-color: #ffff;
    transition: background-color .5s;
}

.box_header a {
    font-size: 25px;
    color: #ffff;
    text-decoration: underline;
}

.box_header strong {
    font-size: 18px
}

.box_content i {
    font-size: 15px;
    height: 150px;
}

.box:hover {
    box-shadow: 4px 4px #707070;
}

.container {
    color: #ffff;
    text-align: center;
    display: block;
}

.box {
    width: calc(350px - 6px);
    height: calc(300px - 30px);
    background: #31B37A;
    margin: 20px auto;
}

.box_wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Centrering af links */

.page_link {
    text-align: center;
}

/* Runde bokse:
border-radius: 10px; */

/* SECTION: Medlemsfordele */

.medlems_fordele {
    text-align: center;
    background: #A7FFD9;
    padding: 20px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 35px;
}

.medlem {
    background: #ffff;
    color: #707070;
    margin: 0;
    text-align: left;
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.bullets {
    background: #ffff;
    color: #707070;
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;
    list-style-type: disc;
}

a.btn_3 {
    text-decoration: none;
    text-align: center;
    color: #707070;
    border: 1px solid #707070;
    padding: 3px 3px;
    background-color: #ffff;
    transition: background-color .5s;
}



/* PAGE: Medlemsfordele */

.fordele {
    color: #707070;
    text-align: left;
    margin-left: 5px;
}

.fordele_overskrift {
    text-align: center;
    margin-top: 40px;
}

/* Footer */

Footer {
    background: #ffff;
}


/* Medium devices (landscape tablets, 780px and up) */
@media only screen and (min-width: 780px) {}


/* Large devices (laptops/desktops, 1075px and up) */
@media only screen and (min-width: 1075px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffff;
    }

    .nav_icon {
        display: none;
    }

    .page_navigation {
        max-width: 80%;
        position: relative;
        background-color: #ffff;
    }

    .navigation_list {
        display: flex;
        justify-content: flex-end;
    }

    .sub_nav_item:hover {
        background-color: #31B37A;
    }

    .sub_nav_item a:hover {
        color: #ffff;
    }

    .sub_nav {
        position: absolute;
        top: 45px;
        background-color: #A7FFD9;
        border-radius: 5%;
    }

    /* Det her er absolut ikke den rigtige måde at gøre det på men jeg er lidt i tidskneb */

    .sub_menu_1 {
        right: 673px;
    }

    .sub_menu_2 {
        right: 102px;
    }

    /*--------------------*/

    main {
        max-width: 80%;
        margin: 0px auto;

    }

}